# Telegram API Credentials (get them from https://my.telegram.org)
TELEGRAM_API_ID=39361099
TELEGRAM_API_HASH=fb78e6edaec2381e33a6f7435df3094f

# Session settings
SESSION_NAME=userbot_session

# Command prefix (e.g. . ! ?)
COMMAND_PREFIX=.

# 24/7 Server Tuning Settings (Optional)
FLOOD_SLEEP_THRESHOLD=120
LOG_LEVEL=INFO

# Yandere Catgirl Bot (Keru) Settings
KERU_BOT_TOKEN=8905001669:AAF7ZpBvNvTsJoXalnXio-TjYJcEjfqfX9A
GEMINI_API_KEY=AIzaSyApl0JZ3L_rBfcVh5sMD7-gLJ5r3oQJ42g
PROXYAPI_KEY=sk-your-proxyapi-key-here

